@page
@using ClimaDash
@model IndexModel

<h1>Weather Dashboard</h1>

<div id="weather-container">
    <p>Loading weather data...</p>
</div>

@* @{
    string a = Temp.Data().Result;
}

<div>
    <p>
        @a;
    </p>
</div>  *@

@(await Html.RenderComponentAsync<CityData>(RenderMode.ServerPrerendered))

@{
    var weather_data = WeatherService.GetWeatherData("London").Result;
    var coord = weather_data.GetProperty("coord");
    var weather = weather_data.GetProperty("weather")[0];
    var @base = weather_data.GetProperty("base");
    var main = weather_data.GetProperty("main");
    var visibility = weather_data.GetProperty("visibility");
    var wind = weather_data.GetProperty("wind");
    var clouds = weather_data.GetProperty("clouds");
    var dt = weather_data.GetProperty("dt");
    var sys = weather_data.GetProperty("sys");
    var timezone = weather_data.GetProperty("timezone");
    // var id = weather_data.GetProperty("id");
    // var name = weather_data.GetProperty("name");
    // var cod = weather_data.GetProperty("cod");
}

<div id="weather-container">
    <p>
        
    </p>
</div>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="weather-container">
        <h1>Weather Data</h1>

        <div class="coord">
            <h2>Coordinates</h2>
            <p>Longitude: <span id="lon">@coord.GetProperty("lon").GetDouble()</span></p>
            <p>Latitude: <span id="lat">@coord.GetProperty("lat").GetDouble()</span></p>
        </div>

        <div class="weather">
            <h2>Weather</h2>
            <p>Id: <span id="weather-id">@weather.GetProperty("id").GetInt32()</span></p>
            <p>Main: <span id="weather-main">@weather.GetProperty("main").GetString()</span></p>
            <p>Description: <span id="weather-description">@weather.GetProperty("description").GetString()</span></p>
            <p>Icon: <span id="weather-icon">@weather.GetProperty("icon").GetString()</span></p>
        </div>

        <div class="main">
            <h2>Main Weather Info</h2>
            <p>Temperature: <span id="temp">@main.GetProperty("temp").GetDouble()</span></p>
            <p>Feels Like: <span id="feels-like">@main.GetProperty("feels_like").GetDouble()</span></p>
            <p>Min Temperature: <span id="temp-min">@main.GetProperty("temp_min").GetDouble()</span></p>
            <p>Max Temperature: <span id="temp-max">@main.GetProperty("temp_max").GetDouble()</span></p>
            <p>Pressure: <span id="pressure">@main.GetProperty("pressure").GetInt32()</span></p>
            <p>Humidity: <span id="humidity">@main.GetProperty("humidity").GetInt32()</span></p>
            @* <p>Sea Level: <span id="sea-level">@main.GetProperty("sea_level").GetInt32()</span></p> *@
            @* <p>Grand Level: <span id="grnd-level">@main.GetProperty("grnd_level").GetInt32()</span></p> *@
        </div>

        <div class="wind">
            <h2>Wind</h2>
            <p>Speed: <span id="wind-speed">@wind.GetProperty("speed").GetDouble()</span></p>
            <p>Degree: <span id="wind-deg">@wind.GetProperty("deg").GetInt32()</span></p>
            @* <p>Gust: <span id="wind-gust">@wind.GetProperty("gust").GetDouble()</span></p> *@
        </div>

        <div class="clouds">
            <h2>Clouds</h2>
            <p>All: <span id="clouds-all">@clouds.GetProperty("all").GetInt32()</span></p>
        </div>

        <div class="sys">
            <h2>Sys</h2>
            <p>Type: <span id="sys-type">@sys.GetProperty("type").GetInt32()</span></p>
            <p>Country: <span id="sys-country">@sys.GetProperty("country").GetString()</span></p>
            <p>Sunrise: <span id="sys-sunrise">@sys.GetProperty("sunrise").GetInt32()</span></p>
            <p>Sunset: <span id="sys-sunset">@sys.GetProperty("sunset").GetInt32()</span></p>
        </div>
    </div>

</body>
</html>